*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  padding: 50px;
  position: relative;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1 {
  margin-bottom: 2.4rem;
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 30px;

  &__item {
    img {
      height: 230px;
      width: 100%;
      cursor: pointer;
    }
  }
}

.mb-md {
  margin-bottom: 2rem;
}
