*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  padding: 50px;
  position: relative;
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

img,
video {
  max-height: 230px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

video {
  max-width: 100%;
}

h1 {
  margin-bottom: 2.4rem;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 30px;
}

.mb-md {
  margin-bottom: 3rem;
}
